/*Main Area*/

html, body {
  height: 100%;
}

body {
  margin-top: 0px;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px;
  min-height: 100%;
  position: relative;
  background-color: lightyellow;
  background-size: cover;
  background-image: url(../Photos/nky_map_1200\ -\ scaled.jpeg);
  background-repeat: repeat;
}

h1, h2, h3 {
  color: rgb(255, 255, 255);
  text-align: center;
}


.button1 {
  background-color: #b13b0d;
  color: white;
  padding: 2px 40px 15px 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin: 250px auto 35px auto;
  border-width: 5px;
  border-style: solid;
  width: 75%;
  height: 300px;
  }

.button1:hover {
  background-color: white;
  color: #b13b0d;
  cursor: pointer;
  }

article {
  position: relative;
  left: 0px;
  top: 0px;
  width: 20%;
  max-width: 200px;
  height: auto;
  background-color: rgba(0,0,0,.5);
  color: #ffff;
  }


/*Top Menu*/

.topnav {
  display: none;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  font-weight: bold;
  padding: 5px 16px 7px;
  text-decoration: none;
  font-size: 24px;
  display: block;
  }

.topnav a.icon {
  background: rgb(96, 189, 111);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  }

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: rgb(96, 189, 111);
  color: white;
  }

nav>ul {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  } 

nav>ul>li:nth-child(1) {
  flex-grow: 1;
  } 

nav>ul>li {
  float: left;
  } 

nav>ul>li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: auto;
  }
  

/*About*/

.box1 {
  box-shadow: #000000;
  background-color: rgba(0,0,0,.8);
  color: #ffff;
  width: fit-content;
  margin: 10px 20px 10px 80px;
  padding: 20px 20px 10px 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  overflow-wrap: break-word;
  }

 /*Contact*/
 /*How to center form??*/

.section {
    position: absolute;
  }

.bg-image {
  opacity: 0.7;
  }

.bg-img-title {
  position: absolute;
  top: 420px;
  left: 20px;
  }

.contact-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  }

.contact-title h1 {
  font-size: 90%;
  line-height: 5px;
  text-align: center;
  }

.contact-title h2 {
  font-size: 25px;
  text-align: center;
  }

form {
  display: inline-grid;
  flex-direction: column;
  color:#fff;
  border-radius: 10px; 
  background-color: rgba(0,0,0,.7); 
  padding: 20px; 
  }

.form-control {
  width: fit-content;
  background: lightgrey;
  border-bottom: 1px solid gray;
  color: black;
  font-size: 25px;
  margin-bottom: 16px;
  }

body {
  background-image: url(../Photos/nky_map_1200.jpeg);
  font-size: 80px;
}

.form-box {
  width: 30px;
  }

input {
  height: 45px;
  }

input:valid {
  border-color: green;
  }

input:invalid {
  border-color: red;
  }

input:focus:invalid {
    border-color: black;
  }

input:required,
textarea:required {
  border-style: dashed;
  }

form .submit {
  background: darkred;
  border-color: transparent;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 10px;
  }

form .submit:hover {   
  background-color: #f44336;
  cursor: pointer;
  }
  

/*photos*/

.box2 {
  box-shadow: #000000;
  background-color: rgba(0,0,0,.8);
  color: #ffff;
  width: 80%;
  margin: 10px 20px 10px 100px;
  padding: 10px 10px 10px 100px;
  text-align: center;
  display: flex;
  flex-shrink: inherit;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  overflow-wrap: break-word;
}

.grid-container {
  display: contents;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 5px 0 5px;
  }

.responsive-image {
  margin: 5px;
  width: 100%;
  }

  img:hover{
    filter: grayscale(100%);
 }

.col-1 {width: 75%;}
.col-2 {width: 50%;}
.col-3 {width: 50%;}
.col-4 {width: 80%;}
.col-5 {width: 70%;}
.col-6 {width: 70%;}
.col-7 {width: 70%;}
.col-8 {width: 70%;}
.col-9 {width: 75%;}
.col-10 {width: 80%;}
.col-11 {width: 80%;}
.col-12 {width: 70%;}

/*Media Queries*/
/*Desktop*/
@media only screen and (min-width: 800px) {

.body {
  background-image: url(../Photos/nky_map_1200.jpeg);
  } 

.contact-title {
  width: 100%;
  }

.grid-container {
  width: 100%
  }

.column {
  float: left;
  width: 25%;
  }

.icon {
  display: none;
}

.topnav {
  display: block;
  overflow: hidden;
  background-color: #333;
  position: relative;
  height: 40px;
  width: 100%;
  margin: 2px;
  padding: 5px
}


/*Tablet*/
@media only screen and (min-width: 992px) {
  
  .topnav {
    display: block;
    overflow: hidden;
    background-color: #333;
    position: relative;
    height: 40px;
    width: 100%;
    margin: 2px;
    padding: 5px
  }

  .responsive-image {
    width: 100%;
    } 

  .column {
    width: 50%;
  }

  .icon {
    display: inline;
    position: absolute;
  }

  /*Footer*/
footer {
  display: flex;
  flex-direction: column;
  color: white;
  display: inline-grid;
  border-radius: 10px; 
  background-color: rgba(0,0,0,.7); 
  padding: 20px; 
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
    }
  }

.button1 {
  background-color: #9e180e;
  color: white;
  padding: 2px 40px 15px 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  margin: 450px auto 35px auto;
  border-width: 5px;
  border-style: solid;
  width: 50%;
  height: 200px
  }

.button1:hover {
  color: white;
  background-color: #b13b0d;
  cursor: pointer;
  }

/*Footer*/
footer {
  display: flex;
  flex-direction: column;
  color: white;
  display: inline-grid;
  border-radius: 10px; 
  background-color: rgba(0,0,0,.7); 
  padding: 20px; 
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
    }
  }
